@model IEnumerable<School.Models.Subject>

@{
    ViewData["Title"] = "Subjects";
}

<h2>Subjects</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SubjectName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Year)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Semester)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.S)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semester)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.S.Sid)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SubjectId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SubjectId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SubjectId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
